* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.form-wrapper {
  padding: 30px !important;
  /* border: 1px solid grey; */
  border-radius: 5px;
  box-shadow: 0 3px 5px 5px rgba(0,0,0,0.1);
}

.ta-center {
  text-align: center;
}

.slider-image {
  height: 100px;
  object-fit: cover;
  /* object-position: top; */
}

.main {
  padding: 20px 0;
  min-height: calc(100vh - 100px - 56px - 24px - 100px); 
}

@media only screen and (max-width: 768px) {
  .main {
    min-height: calc(100vh - 156px - 151px - 120px); 
  }
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
}


/* ---------------------------------------------- */
.container-90 {
  width: 90%;
  margin: 0 auto;
}

/* NAVIGATION */

.dropdown-item.active, .dropdown-item:active {
  color: #212529;
  background-color: transparent;
}

/* HOME */

h1 {
  padding-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  h1 {
    padding-bottom: 20px;
  }
}

.home-image {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

/* SEARCH BAR */

.search-bar {
  padding: 10px;
  background: rgba(0,0,0,0.025);
  height: 100%;
}

.search-bar h6 {
  text-align: center;
  margin-bottom: 20px;
}

/* GALLERY */

.gallery-wrapper {
  flex-wrap: wrap;
  margin: 0 -10px;
}

.gallery-wrapper img {
  width: calc((100% - 60px) / 3);
  margin: 10px;
}

.gall-img {
  cursor: pointer;
  transition: all 0.5s;
}

.gall-img:hover {
  transform: scale(1.04);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  display: none;
  z-index: 10;
}

@media screen and (max-width: 1240px) {
  .gallery-wrapper img {
    width: calc((100% - 40px) / 2);
  }
}

@media screen and (max-width: 400px) {
  .gallery-wrapper img {
    width: 100%;
  }
}


/* FOOTER */

.footer-top {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  padding: 10px 0;
}

@media screen and (max-width: 480px) {
  .footer-top-flex {
    display: block;
    text-align: center;
  }
}

footer {
  padding: 10px 0;
}

/* COURSES */

.course-h3 {
  padding: 10px 0 30px;
}